**/*.h
**/*.pb
**/*.inl
**/*.h.meta
**/*.dir
**/*.dir/**
**/*.a
**/*.a.*
**/*.so.*
**/*.so.*.meta
**/*.so
**/*.so.meta
**/*.dylib
**/*.dylib.meta
**/*.dll
**/*.dll.meta
**/*.lib
**/*.lib.meta
**/*.pdb
**/*.pdb.meta
**/*.mdb
**/*.mdb.meta
**/cpp_test
**/cpp_test*
**/*.exe
**/*.vcproj
**/*.vcproj.*
**/*.vcxproj.*
**/*.sln
**/*.cmake
*.h
*.pb
*.inl
*.h.meta
*.dir
*.dir/**
*.dll
*.dll.meta
*.lib
*.lib.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
cpp_test
cpp_test*
*.exe
*.vcproj
*.vcproj.*
*.vcxproj.*
*.sln
*.cmake
Debug
Debug/**
Release
Release/**
**/*.meta
*.meta
