**/*.h
**/*.h.meta
**/*.dir
**/*.dir/**
**/*.dll
**/*.dll.meta
**/*.lib
**/*.lib.meta
**/*.pdb
**/*.pdb.meta
**/*.mdb
**/*.mdb.meta
**/cpp_test
**/cpp_test*
**/*.exe
**/*.vcproj
**/*.vcproj.*
**/*.vcxproj.*
**/*.sln
**/*.cmake
*.h
*.h.meta
*.dir
*.dir/**
*.dll
*.dll.meta
*.lib
*.lib.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
cpp_test
cpp_test*
*.exe
*.vcproj
*.vcproj.*
*.vcxproj.*
*.sln
*.cmake
Debug
Debug/**
Release
Release/**
